@model IEnumerable<ENTIDADES.adecuacion>

@{
    ViewBag.Title = "ReporteIndex";
}


<div class="contenedor">
    <h1>ADECUACIONES</h1>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>CODIGO-ADECUACIÓN</th>
            <th>F.U.T.</th>
            <th>RECEPCION</th>
            <th>PERIODO</th>
            <th>EMISION</th>
            <th>ID-ESTUDIANTE</th>
            <th>VISUALIZAR</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idAdecuacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoAdecuacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.futAdecuacion)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.fechaRecepcion)*@
                    @item.fechaRecepcion.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periodo)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.fechaEmision.ToString("d"))*@
                    @item.fechaEmision.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idEstudiante)
                </td>
                <td>
                    <a href="@Url.Action("Reporte/"+item.idAdecuacion, "Reporte")" class="button is-danger is-outlined">VER</a>
                </td>
            </tr>
        }
    </table>

</div>



