@model IEnumerable<ENTIDADES.equivalenciaAsignatura>

@{
    ViewBag.Title = "Index";
}


<div class="contenedor">
    <div class="boton-agregar">
        @Html.ActionLink("Create New", "Create", "Asignatura", null, new { @class = "button is-info is-outlined" })
    </div>
    <h1>ASIGNATURAS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO </th>
                <th>ASIGNATURA</th>
                <th>CREDITOS</th>
                <th>CICLO</th>
                <th>PLAN</th>
                <th>CODIGO</th>
                <th>U.E.C</th>
                <th>CREDITOS</th>
                <th>CICLO</th>
                <th>PLAN</th>
                <!--<th>CONDICION</th>
                <th>TECNICO</th>-->
                @*<th>OPERACIONES</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.idEquivalencia</th>
                    <td>@item.codAsignaturaA</td>
                    <td>@item.nomAsignaturaA</td>
                    <td>@item.creditosAsignaturaA</td>
                    <td>@item.cicloAsignaturaA</td>
                    <td>@item.planAsignaturaA</td>
                    <td>@item.codAsignaturaB</td>
                    <td>@item.nomAsignaturaB</td>
                    <td>@item.creditosAsignaturaB</td>
                    <td>@item.cicloAsignaturaB</td>
                    <td>@item.planAsignaturaB</td>
                    <!--<td>@item.condicion</td>
                    <td>@item.tecnico</td>-->
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
