@model IEnumerable<ENTIDADES.estudiante>

@{
    ViewBag.Title = "Index";
}

<div class="contenedor">
    <div class="boton-agregar">
        @Html.ActionLink("Registrar Estudiante", "EstudianteRegistrar", "Estudiante", null, new { @class = "button is-info is-outlined" })
    </div>
    <h1>ESTUDIANTES</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO </th>
                <th>APELLIDOS</th>
                <th>NOMBRES</th>
                <th>SEDE</th>
                <th>CONTINUAR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                       
                    <td>@item.idEstudiante</td>
                    <td>@item.codEstudiante</td>
                    <td>@item.apellidosEstudiante</td>
                    <td>@item.nombresEstudiante</td>
                    <td>@item.sede</td>

                    <td>
                        <div class="block">
                        @Html.ActionLink("Adecuar", "ProcesoIndex/" + @item.idEstudiante, "Proceso", null, new { @class = "button is-danger is-outlined" })
                        </div>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>
