@model IEnumerable<ENTIDADES.estudiante>

@{
    ViewBag.Title = "Index";
}

<div class="contenedor">
    <div class="">
        @Html.ActionLink("Nuevo Estudiante", "EstudianteRegistrar", "Estudiante", null, new { @class = "button is-info is-outlined" })
    </div>
    <h1>ESTUDIANTES</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO </th>
                <th>APELLIDOS</th>
                <th>NOMBRES</th>
                <th>SEDE</th>
                <th>ACTUALIZAR</th>
                <th>ADECUACION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                       
                    <td>@item.idEstudiante</td>
                    <td>@item.codEstudiante</td>
                    <td>@item.apellidosEstudiante</td>
                    <td>@item.nombresEstudiante</td>
                    <td>@item.sede</td>
                    <td>@Html.ActionLink("Modificar", "EstudianteActualizar/" + @item.idEstudiante, "Estudiante", null, new { @class = "button is-info is-outlined" })</td>

                    <td>
                        <div class="block">
                        @{ var adecuado = new NEGOCIO.blAdecuacion().listarTodos().SingleOrDefault(x => x.idEstudiante == item.idEstudiante); }
                        @if (adecuado == null)
                        {
                            @Html.ActionLink("Adecuar", "ProcesoIndex/" + @item.idEstudiante, "Proceso", null, new { @class = "button is-danger is-outlined" })
                        }
                        else
                        {
                            <a class="button is-succed is-outlined" disabled>Adecuado</a>
                        }
                        </div>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>
