@model ENTIDADES.estudiante

@{
    ViewBag.Title = "Index";
}
<div class="contenedor">
    <h1>NUEVO ESTUDIANTE</h1>
    @using (Html.BeginForm("EstudianteNuevo", "Estudiante", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <label class="label">Apellidos</label>
                    <div class="control">
                        @Html.EditorFor(model => model.apellidosEstudiante, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.apellidosEstudiante, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="field">
                    <label class="label">Nombres</label>
                    <div class="control">
                        @Html.EditorFor(model => model.nombresEstudiante, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.nombresEstudiante, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2">
                <div class="field">
                    <label class="label">Codigo</label>
                    <div class="control">
                        @Html.EditorFor(model => model.codEstudiante, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.codEstudiante, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="column is-5">
                <div class="field">
                    <label class="label">Sede</label>
                    <div class="control">
                        @Html.EditorFor(model => model.sede, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.sede, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="column is-5">
                <div class="field">
                    <label class="label">Modalidad</label>
                    <div class="control">
                        @Html.EditorFor(model => model.modalidad, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.modalidad, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="field">
                    <label class="label">Carrera</label>
                    <div class="control">
                        @Html.EditorFor(model => model.carrera, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.carrera, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default button is-success is-outlined" />
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Retornar", "EstudianteListar", null, new { @class = "button is-danger is-inverted" })
    </div>
</div>