@model ENTIDADES.claseOperaciones

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcesoIndex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <link rel="stylesheet" href="../../css/bulma.css">
    <link rel="stylesheet" href="../../css/estilos.css">
</head>
<body>
    <div class="container">
        <div class="c-estudiante">
            <ul class="data-estudianteList">
                <li>
                    <label class="label"><span class="data-title">APELLIDOS Y NOMBRES</span><span class="data-estudiante">: @Model.pEstudiante.apellidosEstudiante,@Model.pEstudiante.nombresEstudiante</span></label>
                </li>
                <li>
                    <label class="label"><span class="data-title">CODIGO DE ESTUDIANTE</span><span class="data-estudiante">: @Model.pEstudiante.codEstudiante</span></label>
                </li>
                <li>
                    <label class="label"><span class="data-title">SEDE</span><span class="data-estudiante">: @Model.pEstudiante.sede</span></label>
                </li>
                <li>
                    <label class="label"><span class="data-title">MODALIDAD DE ESTUDIOS</span><span class="data-estudiante">: @Model.pEstudiante.modalidad</span></label>
                </li>
                <li>
                    <label class="label"><span class="data-title">CARRERA PROFESIONAL</span><span class="data-estudiante">: @Model.pEstudiante.carrera</span></label>
                </li>
            </ul>
            <style></style>
        </div>
        <div class="c-adecuacion">
            <div class="columns">
                <div class="column is-4">
                    <div class="field">
                        <label class="label">F.U.T</label>
                        <div class="control">
                            <input type="text" class="input" placeholder="Número de F.U.T">
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="field">
                        <label class="label">PERIODO ACADÉMICO</label>
                        <div class="control">
                            <input type="text" class="input" placeholder="Periodo académico">
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="field">
                        <label class="label">FECHA DE EMISION</label>
                        <div class="control">
                            <label class="label">@DateTime.Now.Date</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-equivalencias">
            <div class="c-ciclo">
                <label class="label">PRIMER CICLO</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>MARCAR</th>
                            <th>PLAN</th>
                            <th>CODIGO</th>
                            <th>U.E.C</th>
                            <th>CODIGO</th>
                            <th>CICLO</th>
                            <th>ASIGNATURA</th>
                            <th>NOTA</th>
                            <th>FECHA DE ACTA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pEquivalencias.Where(x => x.cicloAsignaturaA == "01"))
                        {                             
                            <tr>
                                <th><label class="checkbox"><input type="checkbox"></label></th>
                                <td>@item.planAsignaturaA</td>
                                <td>@item.codAsignaturaA</td>
                                <td>@item.nomAsignaturaA</td>
                                <td>@item.codAsignaturaB</td>
                                <td>@item.cicloAsignaturaB</td>
                                <td>@item.nomAsignaturaB</td>
                                <td><input class="input" type="number" placeholder="Nota"></td>
                                <td><input class="input" type="date"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="c-ciclo">
                <label class="label">SEGUNDO CICLO</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>MARCAR</th>
                            <th>PLAN</th>
                            <th>CODIGO</th>
                            <th>U.E.C</th>
                            <th>CODIGO</th>
                            <th>CICLO</th>
                            <th>ASIGNATURA</th>
                            <th>NOTA</th>
                            <th>FECHA DE ACTA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pEquivalencias.Where(x => x.cicloAsignaturaA == "02"))
                        {
                            <tr>
                                <th><label class="checkbox"><input type="checkbox"></label></th>
                                <td>@item.planAsignaturaA</td>
                                <td>@item.codAsignaturaA</td>
                                <td>@item.nomAsignaturaA</td>
                                <td>@item.codAsignaturaB</td>
                                <td>@item.cicloAsignaturaB</td>
                                <td>@item.nomAsignaturaB</td>
                                <td><input class="input" type="number" placeholder="Nota"></td>
                                <td><input class="input" type="date"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="c-ciclo">
                <label class="label">TERCER CICLO</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>MARCAR</th>
                            <th>PLAN</th>
                            <th>CODIGO</th>
                            <th>U.E.C</th>
                            <th>CODIGO</th>
                            <th>CICLO</th>
                            <th>ASIGNATURA</th>
                            <th>NOTA</th>
                            <th>FECHA DE ACTA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pEquivalencias.Where(x => x.cicloAsignaturaA == "03"))
                        {
                            <tr>
                                <th><label class="checkbox"><input type="checkbox"></label></th>
                                <td>@item.planAsignaturaA</td>
                                <td>@item.codAsignaturaA</td>
                                <td>@item.nomAsignaturaA</td>
                                <td>@item.codAsignaturaB</td>
                                <td>@item.cicloAsignaturaB</td>
                                <td>@item.nomAsignaturaB</td>
                                <td><input class="input" type="number" placeholder="Nota"></td>
                                <td><input class="input" type="date"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        <a class="button is-success">Adecuar Asignaturas</a>
        </div>
    </div>

    <hr />
    
</body>
</html>
